################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/net8.0
/obj
/.vs/ConsoleApp1/FileContentIndex
/.vs/ConsoleApp1/v17
/.vs
